.card{
    border: 1px solid rgba(125, 120, 120, 0.201);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(94, 93, 93, 0.356);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.cardimg{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial;
  margin:0;
  color: rgb(105, 138, 94);
}

.card .card-text{
  font-family: Arial;
  color: rgb(105, 138, 94);
}

.student{
  font-family: Arial;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;

}

.student p{
  margin:0;
}

.list-category{
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(100, 77, 77);
    border: 1px solid black;
    text-align:center;
    margin-bottom : 10px;
    border-radius: 5px;
    background-color: rgb(221, 195, 195);
}

.list-item li{
    font-weight: bold;
    font-size: 2em;
    color: rgb(100, 77, 77);
    text-align:center;
    
   
}

.list-item li:hover{
   
    color: rgb(173, 131, 131);
    cursor: pointer;
    
   
}

.counter-container{
  text-align: center;
  font-family: Arial;

}

.count-display{
      font-size: 10em;
      margin-top:0;
      margin-bottom:50px;
}

.counter-button{
  width: 150px;
  height:50px;
  font-weight: bold;
  margin:0px 5px;
  background-color: rgb(153, 189, 95);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.counter-button:hover{
    background-color: rgb(102, 126, 64);

}